body {
    color:#FFF;
    background-color:#222;
    font-size:1.25em;
    margin:0px;
    overflow-x:hidden;
}
#search {
    position:sticky;
    left:0;
    top:0;
    padding:0.5em;
    font-size:1.5em;
    background-color:#333;
    border:none;
    color:#EEE;
    width:100vw;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
#results {
    padding-top:5px;
    padding-left:5vw;
    padding-right:5vw;
}
.result {
    padding-bottom:5px;
}
.eng {
    color:#CCC;
}
.SIn::after {
    content:" → ";
}
.SCat {
    float:right;
}
.SSubCat {
    float:right;
    padding-left:20px;
}
#cover {
    background-color:#22222299;
    width:100vw;
    height:100vh;
    position:absolute;
    z-index:10;
    display:none;
}
#help {
    padding-left:5vw;
    padding-right:5vw;
}
.helpPage {
    display:none;
}
a {
    color: #CCCCCC;
    text-decoration:none;
}
a:hover {
    color: #FFFFFF;
}